@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');

/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #fff;
}
*/
/* header */

/* cart and order summary page */
.cartsummary-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex
}

/* cart and order summary page */
/*.left-side {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 100px;
    width: 55%;
}*/

/* cart */
.left-side p {
    color: #212121;
    font-family: 'Readex Pro';
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.food-item {
    /*overflow: hidden;*/
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    color: #000;
    margin: 1rem 0;
    animation: fadeIn 2s;
}

.food-item-1 {
    /*overflow: hidden;*/
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    color: #000;
    margin: 1rem 0;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.food-img img {
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.food-content {
    padding: 1rem;
}

.food-name {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.food-price {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    padding: 0.4rem 0;
}

@media screen and (min-width: 600px) {
    .food-item {
        display: grid;
        grid-template-columns: 25% auto;
        align-items: center;
        padding: 1rem;
        column-gap: 1rem;
    }

    .food-item-1 {
        display: grid;
        align-items: center;
        padding: 1rem;
        column-gap: 1rem;    
    }

    .food-content {
        padding: 0;
    }
}

.quantity {
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    background: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.quantity span {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    user-select: none;
}

.quantity span.intnum {
    font-size: 15px;
    border-right: 0.5px solid rgba(231, 231, 231, 1);
    border-left: 0.5px solid rgba(231, 231, 231, 1);
    pointer-events: none;
}

.vline {
    height: auto;
    margin: 2rem 3rem;
    border-left: 0.3px solid #c3c9d1;
    display: flex;
}

/* order summary */
/*.right-side {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 100px;
    width: 45%;
}*/

.right-side p {
    color: #212121;
    font-family: 'Readex Pro';
    font-size: 35px;
    font-weight: 700;
    margin: 0;
}

.subtotal {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    display: flex;
}

.subtotal-label {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.subtotal-price {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    padding: 0.4rem 0;
    text-align: right;
    margin-left: auto;
}

.df {
    margin-bottom: 0.5rem;
    display: flex;
}

.df-label {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.df-price {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    padding: 0.4rem 0;
    text-align: right;
    margin-left: auto;
}

.hline {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 0.3px solid #c3c9d1;
    display: flex;
}

.total {
    margin-bottom: 0.5rem;
    display: flex;
}

.total-label {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.total-price {
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 0.4rem 0;
    text-align: right;
    margin-left: auto;
}

.checkout-btn {
    width: 100%;
    display: block;
    position: relative;
    margin: 0;
    text-align: center;
    height: auto;
}

.checkout {
    border-radius: 10px;
    border: none;
    background-color: #2C2A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    width: 100%;
    height: 50px;
    text-align: center;
}

.checkout:hover {
    cursor: pointer;
    background-color: #c70800;
}

/********/

.x-unicode {
    color: #b7b7b7;
    font-size:30px;
}

.x-unicode:hover, .x-unicode:focus {
    color: #c70800;
}


/*******************/
.left-col, .right-col, .col-vline {
    margin-bottom: 100px;
}

.col-vline {    
    border-left: 0.3px solid #c3c9d1;
    width: 50px;
}

.main-container {
    padding: 30px calc(30px + 6vw);
}

.del-btn:focus .del-btn:hover, .del-btn {
    border: none;
    background-color: transparent;
}