@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css?family=Readex Pro");

/** HEADER **/
.navbar {
  z-index: 1000;
  filter: drop-shadow(0px 2px 2px #e7e7e7);
}

.navbar-content {
  padding: 0 8%;
  margin-bottom: -10px;
  margin-top: -10px;
  font-family: Readex Pro;
  position: sticky;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  color: #2c293a;
  font-weight: 500;
}

.nav-link:hover {
  color: #c70800;
}

.nav-item > .active {
  color: #c70800;
}

.navbar-nav > .nav-item > .btn {
  width: 101px;
  height: 36px;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

#sign-in {
  background-color: #ffffff;
  color: #c70800;
  border: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
}
#sign-in:hover {
  color: #ffffff;
  background-color: #8e0000;
}

#register {
  background-color: #c70800;
  color: #fff;
  border: #c70800;
  box-shadow: 0px 4px 4px #00000040;
}
#register:hover {
  color: #ffffff;
  background-color: #8e0000;
}

.nav-responsive-padding-bottom {
  padding-bottom: 20px;
}

.cart {
  filter: drop-shadow(0px 2px 2px #00000040);
}

.cart:hover {
  opacity: 0.7;
}

.subheader {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;
  font-family: "Inter";
}

.title {
  width: 315px;
  height: 50px;
  left: 308px;
  top: -135px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.01em;
}

.line {
  width: 255px;
  height: 50px;
  left: 338px;
  top: -46px;
}

.Row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  margin-bottom: 123px;
  max-width: 90vw;
  width: 100%;
  gap: 3em;
  overflow: hidden;
  /* Create transition for all */
  transition: all 0.5s ease;
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.375em;
}

.col2ctn {
  display: flex;
  flex-direction: column;
  width: 26.375em;
  height: 26.375em;
}

.col2 {
  display: flex;
}

.col2col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.mail {
  max-width: 110px;
  height: auto;
}

.map {
  width: 100%;
  height: max-content;
  object-fit: cover;
}

.intro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.namebox {
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.Address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0f001a;
}
.emailbox {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.txtarea {
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  width: 100%;
}

.btn-send {
  width: 100%;
  background-color: #c70800;
  color: #fff;
}

.btn-send:hover {
  background-color: #8e0001;
  color: #fff;
}

.Email {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0f001a;
}

.Phone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0f001a;
}

.Address {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0f001a;
}

/**Footer**/

footer {
  background-color: #c70800;
  color: #fff;
  font-family: Inter;
  padding-top: 5px;
}

.fab {
  color: #fff;
  margin-right: 20px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-family: Inter;
}

h6 {
  font-family: Inter;
}

.text-reset:hover {
  color: #8e0000;
}

.text-reset:hover,
.fab:hover {
  color: #8e0000 !important;
}

.textareabox {
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.textareabox > textarea {
  resize: none;
  height: 160px;
}

/* Create a media query that makes Row flex direction to column  */

@media (max-width: 768px) {
  .Row > * {
    max-width: 100%;
  }

  .Row {
    max-width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 123px;
    padding: 0 2.5em;
    transition: all 0.5s ease;
  }
}
