@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');

.header {
    align-items: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    min-width: 1920px;
    max-width: 1920px;
}
.register_button{
    align-items: center;
    background-color: #C70800;
    border: 1px none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 10px;
    height: 36px;
    margin-left: 16px;
    margin-top:1px;
    padding: 8px 22px;
    width: 101px;
    margin-right: 22px;
}
.place-1{
    color: #FFFFFF;
    font-family: Readex Pro;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.46px;
    line-height: normal;
    margin-top: -1px;
    text-align: center;
    width: fit-content;
    margin-left: 10px;
    
}
.sign-in_button{
    align-items: center;
    color:#C70800;
    background-color: #C70800;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    margin-bottom: 1px;
    margin-left: 644px;
    padding: 8px 22px;
    width: 101px;
}
.sign-in{
    color: #FFFFFF;
    font-family: Readex Pro;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.46px;
    line-height: normal;
    margin-top: -1px;
    text-align: center;
    width: fit-content;
}
.kads_logo_1{
    height: 105px;
    object-fit: cover;
    width: 188px;
}
.cart_vector{
    height: 38px;
    margin-bottom: 0.27px;
    width:39px;
    margin-right: 100px
}
.header_items{
    align-items: flex-start;
    display: flex;
    margin-bottom: 1px;
    margin-left: 39px;
    min-width: 370px;
}
.contact-us_link{
    align-items: flex-start;
    border: 1px;
    display: flex;
    height: 18px;
    margin-left: 30px;
    min-width: 110px;
}
.contact-us-1{
    height: 25px;
    letter-spacing: 0.2px;
    line-height: normal;
    margin-top: -4px;
    width: 114px;
}
.valign-text-middle{
    color: #2C293A;
    font-size: 22px;
    font-family: Readex Pro;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home_link{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 18px;
    min-width: 60px;
    
}
.place{
    color:#C70800;
    font-family: Readex Pro;
    font-size: 22px;
    font-weight: 700px;
    height: 25px;
    letter-spacing: 0.2px;
    line-height: normal;
    margin-top: -4px;
    width: 62px;
}
.menu_link{
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 18px;
    margin-left: 69px;
    min-width: 55px;
}
.menu {
    height: 25px;
    letter-spacing: 0.2px;
    line-height: normal;
    margin-top: -4px;
    width: 57px;
}
.valign-text-middle:hover, .place:hover{
    color:#C70800;
  }
.register_button:hover{
    background-color: #2C293A;
    color: #C70800;
}
.sign-in_button:hover{
    background-color: #2C293A;
}

