@font-face {
    font-family: ReadexPro;
    src: url(../font/ReadexPro.ttf);
  }

@font-face {
    font-family: Inter;
    src: url(../font/Inter.ttf);
  }

body {
    padding: 0px 0px 20px 0px;
}

@media (min-width: 900px) {
    .grid-container { 
        grid-template-columns: repeat(2, 1fr); 
    }
}

.col img {
    height: 625px;
    width: 600px;
    padding: 35px 0px 25px 50px;
}

.col h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgba(44, 41, 58, 0.8);
}

.title {
    font-family: 'ReadexPro';
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #c70800;
    padding: 125px 25px 25px 0px;
}

input[type=email] {
    background-color: #E7E7E7;
    border: 1.2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0px 10px 0px 25px;
    height: 35px;
    width: 400px;
    margin-bottom: 15px;
}

input[type=password] {
    background-color: #E7E7E7;
    border: 1.2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0px 10px 0px 25px;
    height: 35px;
    width: 400px;
    margin-bottom: 15px;
}

.btn-arrow {
    background-color: #c70800;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    font-size:24px; 
    margin: 20px 0;
}

.btn-arrow:hover {
    background-color: #8e0000;    
}

.fa-arrow-right {
    color:#fff;
}

a {
    color:#c70800;
}

a:hover {
    color:#8e0000;
}