@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

/* header */

/* menu showcase*/
.menu_showcase .description_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.description_left {
    width: 500px;
    margin-left: 180px;
}

.town-emoji {
    width: 36px;
    height: 28px;
    margin-right: 20px;
}

.description_tagline {
    width: 500px;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    vertical-align: middle;
    flex-wrap: wrap;
    text-align: left;
    letter-spacing: 0.5px;
    color: #757575;
}

.description_header {
    width: 500px;
    margin-top: 15px;
    margin-bottom: 0;
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    vertical-align: middle;
    letter-spacing: 1px;
    text-align: left;
    color: #212121;
    flex-wrap: wrap;

}

.description_text {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #757575;
}

.description_right {
    width: 500px;
    margin-left: 56px;
}

.sushi-blob {
    width: 703.5px;
    height: 746.9px;
}

/* menu */
.menu_container {
    width: 90%;
    margin: 55px auto;
    text-align: center;
}

.menu_container .title {
    width: auto;
    margin: auto;
}

.menu_container .title h2 {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

/* category buttons */
.content .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content .list li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin: 0px 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #2C2A3A;
    border-radius: 25px;
    width: 160px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.content .list li:hover {
    cursor: pointer;
    background-color: #c70800;
}

/* categories */
.menu_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    flex-wrap: wrap;
    justify-items: center;
    margin-bottom: 100px;
}

.box {
    width: 220px;
    height: 335px;
    margin-top: 40px;
    background: #EEEEEE;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.box .box_img {
    width: auto;
    text-align: center;
}

.box_img img {
    width: 180px;
    height: 180px;
}

.box .text {
    text-align: center;
    width: 100%;
}

.text p {
    height: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #000000;
}

.text .text_long {
    font-size: 20px;
}

.text section {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.text button {
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #2C2A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
}

.text button:hover {
    cursor: pointer;
    background-color: #c70800;
}