@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');

:root {
    --primary: #C70800;
    --primary-dark: #8e0001;
    --secondary: #2C2A3A;
    --light: #E7E7E7;      
    --processing: rgba(255,0,26,0.2);      
    --delivery: rgba(233, 132, 0, 0.2);      
    --completed: rgba(0, 143, 24, 0.2);      
  }
  

body{
    background-color: #fff; 
    font-family: Inter;
}

.section-title {
    font-family: Readex Pro;
    font-weight: bold;
    color: #2C293A;
}

.order-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
    filter: drop-shadow(0px 2px 2px #E7E7E7);
}

.order-icon {
    height:50px;
    width:50px;
    border-radius: 100%;
}

.order-group {
    margin-top:10px;
}

.order-item {
    margin-bottom: 10px;    
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
}

.total-text {
    text-align: right;
}

.order-price {
    text-align: right;
}

.order-content-container { 
    margin-top:20px; 
    min-width:fit-content;  
    max-width: 60%;  
}

.order-progress {
    width:fit-content;
    border-radius: 5px;
    color:#2C2A3A;    
}

.p-processing {background-color: var(--processing);}
.p-delivery {background-color: var(--delivery);}
.p-completed {background-color: var(--completed);}


.order-header {
    font-weight: bold;
}