@font-face {
    font-family: ReadexPro;
    src: url(../font/ReadexPro.ttf);
  }

@font-face {
    font-family: Inter;
    src: url(../font/Inter.ttf);
  }

body {
    padding: 0%;
}

/**
.grid-container {
    max-width: 1900px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 900px) {
    .grid-container { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
**/

.title {
    font-family: ReadexPro;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    color: #c70800;
}

.subcontent,  .content {
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
}

.subcontent {
    padding-bottom: 10px;
}

/**
form {
    display: flex;
    flex-direction: row;
}

.content {
    padding: 10px 5px 5px 155px;
}
**/

.input-lbl {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: calc(11px + 0.2vw);
    color: rgba(44, 41, 58, 0.8);
    padding-top: 15px;
}

.input-chckbx {
    padding-top:10px;
}

/**
input[type=text],[type=email],[type=date], [type=tel], [type=password] {
    background-color: #E7E7E7;
    border: 1.2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0px 10px 0px 25px;
    height: 35px;
    width: 600px;
    margin-bottom: 15px;
}

input[type=checkbox] {
    background-color: #E7E7E7;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    padding: 15px 0px 0px 15px;
}

#firstname, #lastname, #bday, #phone {
    width: 285px;
}
**/

.crop-img img {
    height: auto;
    max-width: 600px;    
}

.crop-img {
    height: 625px;
    width: 600px;
    max-width: 100%; 
    overflow: hidden;
}

#btn-arrow {
    background-color: #c70800;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    font-size:22px; 
    margin: 20px 0;
}

.btn-arrow:hover {
    background-color: #8e0000;    
}

.fa-arrow-right {
    color:#fff;    
}

a {
    color:#c70800;
}

a:hover {
    color:#8e0000;
}

.content-style {
    padding: 40px 0;
    padding-left: 20px;
}

/******show pw*****/
.showPassword {
    margin-bottom: 30px;
}