@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Readex Pro');
 
* {
    box-sizing: border-box;
  }
  
  body{
    max-width: 100%;
    overflow-x:hidden;
  }

.row {
    display: flex;
}
  
.column1 {
flex: 50%;
padding: 5px;
height: 300px;
position: absolute;
width: 555px;
height: 468px;
left: 400px;
top: 250px;
}
.column2 {
flex: 50%;
padding: 5px;
height: 300px;
position: absolute;
width: 555px;
height: 468px;
left: 1050px;
top: 250px;
}

.faqs{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;
font-family: 'Inter';
    
position: absolute;
width: 1252px;
height: 130px;
left: 350px;
top: 80px;
}

.description{
width: 839px;
height: 56px;
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #757575;
line-height: 28px;
    
position: absolute;
width: 1252px;
height: 130px;
left: 935px;
top: 180px;   
}

.q1{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q1ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}
.q2{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q2ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}
.q3{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q3ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}
.q4{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q4ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}
.q5{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q5ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}
.q6{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.2px;
}
.q6ans{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
color:#757575;
}

